// Spacing between elements
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;

// Spacing around text in an element
$padding-small: 5px;
$padding-medium: 13px;
$padding-large: 20px;

//== Color
// Normal mode
$color-background:      #ffffff;
$color-background-shaded: #f6f8fa;
$color-blockquote-light: #f6f8fa;
$color-blockquote-dark: rgb(77, 77, 77);
$color-link:            #065588;
$color-border:          #8c8c8c;
